dcc_diagram.drawio

__pycache__

arenas.csv

consumibles.csv

excavadores.csv

tesoros.csv

testing.ipynb

new testing.ipynb

Enunciado.pdf

consola_test.py

diagrama_de_clase.drawio

cargar_tests.py

pruebas

Partidas/casi_listo

Partidas/hola

Partidas/probando

Partidas/test_descansar

Partidas/test_descansar2

Partidas/test_descansar3

Partidas/test_exhibrido